---
layout: compress
# Default layout
---

<!DOCTYPE html>

{% include lang.html %}

{% include assets-origin.html %}

{% capture prefer_mode %}
  {% if site.theme_mode %}
    data-mode="{{ site.theme_mode }}"
  {% endif %}
{% endcapture %}

<html lang="{{ site.lang }}"{{ prefer_mode }}>

  {% include head.html %}

  {% unless site.theme_mode %}
    {% include mode-toggle.html %}
  {% endunless %}

  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [['$','$'], ['\\(','\\)']],
        processEscapes: true
      }
    });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
  <html lang="{{ site.lang }}"{{ prefer_mode }}>

  <body data-spy="scroll" data-target="#toc" data-topbar-visible="true">

    {% include sidebar.html %}

    {% include topbar.html %}

    <div id="main-wrapper">
      <div id="main">

        {{ content }}

        {% include footer.html %}

      </div>

      {% include search-results.html %}

    </div> <!-- #main-wrapper -->

    {% if page.mermaid %}
      {% include mermaid.html %}
    {% endif %}

    <div id="mask"></div>

    <a id="back-to-top" href="#" aria-label="back-to-top" class="btn btn-lg btn-box-shadow" role="button">
      <i class="fas fa-angle-up"></i>
    </a>

    {% include search-loader.html %}

    {% include js-selector.html %}

  </body>

</html>